body {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 37%;
}

header h1 {
  font-size: 48px;
  margin-bottom: 0;
}

header h3 {
  margin-top: 0;
}

.help_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help_menu__button {
  background: white;
  color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.2s;
  padding: 2vh;
  margin: 1vh;
  text-decoration: none;
}

.help_menu__button:hover {
  background: #6c63ff;
  color: #fff;
  filter: drop-shadow(0 0.2rem 0.25rem #cac6c6);
}

.help_menu__button:hover svg {
  stroke: #fff;
}
/*# sourceMappingURL=help.css.map */