#index_main {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#index_main #index_photo {
  width: 50%;
}

#index_main #index_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

#index_main #index_form input {
  width: 55%;
  padding: 2vh;
}

#index_main #index_form_title {
  font-size: 1.1em;
  width: 55%;
}

#index_main #index_form_buttons {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2vh;
}

#index_main #index_form_buttons a {
  font-size: 1.1em;
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

#index_main #index_form_buttons .button {
  margin-top: 0;
  margin-right: 1vh;
  font-weight: 600;
}

#index_main #index_form_buttons .button img {
  width: max-content;
}

@media (max-width: 767.98px) {
  #index_main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  #index_main img {
    display: none;
  }
  #index_main #index_form {
    width: 100%;
    margin-top: 5vh;
  }
  #index_main #index_form input, #index_main #index_form_title, #index_main #index_form_buttons {
    width: 80%;
  }
  #index_main #index_form input {
    font-size: 1em;
  }
  #index_main #index_form_title {
    font-size: 1.3em;
  }
  #index_main #index_form_buttons {
    font-size: 1.1em;
  }
  #index_main #index_form_buttons img {
    display: block;
  }
}
/*# sourceMappingURL=index.css.map */