::selection {
  background: #6c63ff;
  color: #fff;
}

:focus {
  -webkit-outline-radius: 10px;
  outline-color: #6c63ff;
  -moz-outline-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollIn {
  from {
    top: -5%;
  }
  to {
    top: 0;
  }
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
}

main {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

h1,
h2,
h3 {
  color: #545454;
}

select {
  background-color: #fff;
  background-image: url(../../img/icons/selector.svg);
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
  background-position-x: 95%;
  border: 1px solid #cac6c6;
  appearance: none;
  border-radius: 10px;
  color: #A9A9A9;
  width: 45%;
  padding: 1vh;
  font-size: 0.8em;
}

input {
  margin-bottom: 1vh;
  font-family: "Source Sans Pro";
  border-radius: 10px;
  border: 1px solid #cac6c6;
  padding: 1.5vh;
  width: 30%;
}

input[type=text] {
  background-color: #fff;
  background-image: url(../../assets/img/icons/person.svg);
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
  background-position-x: 95%;
}

input[type=title] {
  background-color: #fff;
  background-image: url(../../assets/img/icons/letters-case.svg);
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
  background-position-x: 95%;
}

input[type=password] {
  background-color: #fff;
  background-image: url(../../assets/img/icons/lock.svg);
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
  background-position-x: 95%;
}

input[type=email] {
  background-color: #fff;
  background-image: url(../../assets/img/icons/email.svg);
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
  background-position-x: 95%;
}

input[type=date] {
  background-image: url(../../assets/img/icons/calendar.svg);
  color: #F8F8F8;
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
  background-position-x: 95%;
}

input[type=time] {
  background-image: url(../../assets/img/icons/clock.svg);
  color: #F8F8F8;
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
  background-position-x: 95%;
}

input[type=time] {
  background-image: url(../../assets/img/icons/clock.svg);
  color: #F8F8F8;
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
  background-position-x: 95%;
}

input[type=radio] {
  border: none;
  appearance: none;
}

input:focus {
  background-image: none;
}

input::-moz-placeholder {
  opacity: 1;
  color: #A9A9A9;
  transition: 0.5s;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

textarea {
  resize: none;
  width: 30%;
  border-radius: 2px;
  border: 1px solid #cac6c6;
  margin: 1vh;
  padding: 1vh;
  font-family: "Source Sans Pro";
  font-size: 14px;
}

textarea::placeholder {
  color: #808080;
}

textarea:focus::placeholder {
  opacity: 0;
}

a {
  color: #808080;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #6c63ff;
  text-decoration-thickness: 1.5px;
}

a:visited {
  color: #808080;
}

label {
  color: #808080;
  width: 30%;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.button {
  background: #6c63ff;
  border: none;
  color: #fff;
  filter: drop-shadow(0 0.2rem 0.25rem #cac6c6);
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-radius: 4px;
  margin-top: 1vh;
  cursor: pointer;
  transition: background 0.5s;
  text-decoration: none;
  font-size: 1em;
  font-family: "Source Sans Pro";
  display: flex;
  align-items: center;
  justify-content: center;
}
.button img {
  width: max-content;
}

.button:visited {
  color: #fff;
}

.button:hover {
  background: #6159f8;
}

.button_goback {
  font-size: 20px;
  font-weight: 600;
  text-decoration: 2px #6159f8 underline;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .button_goback:before {
    content: '';
    position: absolute;
    width: 110%;
    height: 2px;
    background: var(--darkblue);
    left:0;
    bottom: 0;
} */
.main_error {
  background: #fff;
  font-family: "Source Sans Pro";
  color: #d65555;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  opacity: 1;
  animation: rollIn 0.8s;
  animation-fill-mode: forwards;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cac6c6;
  font-weight: 500;
}

.main_success {
  background: #fff;
  font-family: "Source Sans Pro";
  color: #00b341;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  opacity: 1;
  animation: rollIn 0.8s;
  animation-fill-mode: forwards;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cac6c6;
  font-weight: 500;
}

.graytext {
  color: #808080;
}

@media (max-width: 1199.98px) {
  input select {
    background-color: #fff;
    background-image: url(../../img/icons/selector.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
    border: 1px solid #cac6c6;
    appearance: none;
    border-radius: 10px;
    color: #cac6c6;
    width: 45%;
    padding: 2vh;
    font-size: 14px;
  }
  input input {
    margin-bottom: 1vh;
    font-family: "Source Sans Pro";
    border-radius: 10px;
    border: 1px solid #cac6c6;
    padding: 1.5vh;
    width: 30%;
  }
}
@media (min-width: 1500px) {
  input[type=text] {
    background-size: 6%;
  }

  input[type=password] {
    background-size: 6%;
  }

  input[type=email] {
    background-size: 6%;
  }
}

/*# sourceMappingURL=main.css.map */
