#profile_background {
  width: 100%;
  height: 37%;
  background-image: url(../../assets/img/backgrounds/mountains.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F8F8F8;
  filter: drop-shadow(0 0.2rem 0.25rem #cac6c6);
}

#profile_person {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  top: 22%;
}

#profile_person img {
  /* filter: drop-shadow(0 0.2rem 0.25rem var(--gray)); */
  width: 70%;
}

#profile_person h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 40px;
  color: #545454;
}

.profile_person_username {
  font-size: 20px;
  color: #808080;
}

.profile_person_username:hover {
  text-decoration: underline;
  cursor: pointer;
}

#profile_content {
  background: #fff;
  width: 100%;
  height: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#profile_content_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.profile_content_menu_button {
  background: white;
  color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.2s;
  padding: 1vh;
  margin: 1vh;
  text-decoration: none;
  width: max-content;
}

.profile_content_menu_button:hover {
  background: #6c63ff;
  color: #fff;
  filter: drop-shadow(0 0.2rem 0.25rem #cac6c6);
}

.profile_content_menu_button:hover svg {
  stroke: #fff;
}

/*# sourceMappingURL=profile.css.map */
