#register_main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#register_main img {
  width: 50%;
}
#register_main #register_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
#register_main #register_form input {
  width: 55%;
  padding: 2vh;
}
#register_main #register_form input[type=text] {
  background-position: right;
  background-position-x: 89%;
}
#register_main #register_form input[type=checkbox] {
  border: none;
  padding: 0;
  margin: 0;
  width: 0;
}
#register_main #register_form select {
  width: 49%;
  padding: 1.5vh;
  background-size: 16%;
}
#register_main #register_form label {
  font-size: 1.05em;
}
#register_main #register_form_title {
  font-size: 1.1em;
  width: 55%;
}
#register_main #register_form_buttons {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 2vh;
}
#register_main #register_form_buttons .button {
  margin-top: 0;
  margin-right: 1vh;
  font-weight: 600;
}
#register_main #register_form_buttons .button img {
  width: max-content;
}
#register_main #register_form_buttons a {
  font-size: 1.1em;
  font-weight: 600;
}
#register_main #register_form #names {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#register_main #register_form #names input[type=text] {
  width: 49%;
  background-size: 16%;
}
#register_main #register_form #container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
#register_main #register_form .rules {
  margin: 0;
  border-radius: 10px;
  font-family: "Source Sans Pro";
  color: white;
  position: relatvie;
  cursor: pointer;
  width: 40%;
  text-align: center;
  color: #808080;
}

@media (max-width: 767.98px) {
  #register_main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #register_main img {
    display: none;
  }
  #register_main #register_form {
    margin: 0;
    width: 100%;
    margin-top: 5vh;
  }
  #register_main #register_form_title,
#register_main #register_form input,
#register_main #register_form #container,
#register_main #register_form #names,
#register_main #register_form #buttons {
    width: 80%;
  }
  #register_main #register_form_title {
    font-size: 1.3em;
  }
  #register_main #register_form input,
#register_main #register_form select,
#register_main #register_form #container {
    font-size: 1em;
  }
  #register_main #register_form_buttons {
    width: 80%;
    font-size: 1.1rem;
  }
  #register_main #register_form_buttons img {
    display: block;
  }
}
@media (min-width: 1500px) {
  #register_main #register_from #names input[type=text] {
    background-size: 13%;
  }
}

/*# sourceMappingURL=register.css.map */
