body {
  overflow-y: clip;
}

@keyframes slideIn {
  from {
    left: -80%;
  }
  to {
    left: 0;
  }
}
@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -80%;
  }
}
form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10vh;
  animation: fadeIn 0.5s;
  position: relative;
}
form .button {
  margin-top: 2vh;
  right: 0;
}
form input {
  width: 35%;
  margin-top: 0;
  margin-left: 0;
}
form h2 {
  margin-top: 0;
  padding-top: 0;
}

#settings {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings_sidebar {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#settings_sidebar_menu ul {
  background: #6c63ff;
  list-style-type: none;
  padding: 3vh;
  margin-top: 10vh;
  top: 0;
  border-radius: 10px;
  filter: drop-shadow(0 0.2rem 0.25rem #cac6c6);
}
#settings_sidebar_menu .button {
  background: #6c63ff;
  width: fit-content;
  filter: none;
  font-weight: 600;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
}
#settings_sidebar_menu .active {
  background: white;
  color: #6c63ff;
}
#settings_sidebar_menu .active svg {
  stroke: #6c63ff;
}

#settings_details {
  width: 70%;
  height: 100%;
}

#settings_privacy {
  width: 70%;
  height: 100%;
  display: none;
  align-items: flex-start;
  justify-content: center;
}

#settings_pictures {
  width: 70%;
  height: 100%;
  display: none;
  align-items: flex-start;
  justify-content: center;
}

#settings_hamburger {
  position: absolute;
  display: none;
  background: #6c63ff;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  z-index: 1;
  filter: drop-shadow(0 0.2rem 0.25rem #cac6c6);
}
#settings_hamburger ul {
  background: #6c63ff;
  list-style-type: none;
  padding: 3vh;
  margin-top: 10vh;
  top: 0;
  border-radius: 10px;
}
#settings_hamburger .button {
  background: #6c63ff;
  width: fit-content;
  filter: none;
  font-weight: 600;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
}
#settings_hamburger .active {
  background: white;
  color: #6c63ff;
}
#settings_hamburger .active svg {
  stroke: #6c63ff;
}
#settings_hamburger #settings_hamburger_close_button {
  float: right;
  padding: 1.5vh;
}

#settings_hamburger_open_button {
  padding: 1.5vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

@media (max-width: 767.98px) {
  #settings_sidebar {
    display: none;
  }

  #settings_hamburger {
    display: block;
  }

  #settings_hamburger_open_button {
    display: block;
  }

  form input {
    width: 100%;
    font-size: 1em;
  }
  form label {
    width: 100%;
  }
}

/*# sourceMappingURL=settings.css.map */
