$blue: #6c63ff;
$darkblue: #6159f8;
$red: #d65555;
$white: #fff;
$darkwhite: #fff2f2;
$gray: #808080;
$dark-lightgray: #A9A9A9;
$lightgray: #cac6c6;
$darkgray: #545454;
$cloud: #F8F8F8;
$yellow: #eac435;
$green: #00b341;