@import "colors.scss";

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 37%;

    h1 {
        font-size: 48px;
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
    }
}

.help_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__button {
        background: white;
        color: $darkgray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        transition: 0.2s;
        padding: 2vh;
        margin: 1vh;
        text-decoration: none;
    }

    &__button:hover {
        background: $blue;
        color: $white;
        filter: drop-shadow(0 0.2rem 0.25rem $lightgray);
    }

    &__button:hover svg {
        stroke: $white;
    }

}

