@import "colors.scss";

#index_main {
    background: $white;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    #index_photo {
        width: 50%;
    }

    #index_form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;

        input {
            width: 55%;
            padding: 2vh;
        }

        &_title {
            font-size: 1.1em;
            width: 55%;
        }

        &_buttons {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 2vh;

            a {
                font-size: 1.1em;
                font-family: 'Source Sans Pro';
                font-weight: 600;
            }

            .button {
                margin-top: 0;
                margin-right: 1vh;
                font-weight: 600;

                    img {
                        width: max-content;
                    }
                }
        }

    }
}

//mobile devices
@media (max-width: 767.98px) {
    #index_main {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        img {
            display: none;
        }

        #index_form {
            width: 100%;
            margin-top: 5vh;

            input, &_title, &_buttons {
                width: 80%;
            }

            input {
                font-size: 1em;
            }

            &_title {
                font-size: 1.3em;
            }

            &_buttons {
                font-size: 1.1em;

                img {
                    display: block;
                }
            }
        }
    }

 }
