@import "colors.scss";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    width: 50%;
}

textarea {
    border: 1px solid $lightgray;
    resize: none;
    border-radius: 10px;
    padding: 1vh;
    margin: 1vh;
    width: 100%;
    font-family: 'Source Sans Pro';
}

.index_post {
    border-radius: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem $lightgray);
    
    &_header {
        font-weight: bold;
    }
}