@import "colors.scss";
::selection {
    background: $blue;
    color: $white;
}

:focus {
    -webkit-outline-radius: 10px;
    outline-color: $blue;
    -moz-outline-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes rollIn {
    from {
        top: -5%;
    }
    to {
        top: 0;
    }
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro';
}

main {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}

h1,
h2,
h3 {
    color: $darkgray;
}

select {
    background-color: $white;
    background-image: url(../../img/icons/selector.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
    border: 1px solid $lightgray;
    appearance: none;
    border-radius: 10px;
    color: $dark-lightgray;
    width: 45%;
    padding: 1vh;
    font-size: 0.8em;
}

input {
    margin-bottom: 1vh;
    font-family: 'Source Sans Pro';
    border-radius: 10px;
    border: 1px solid $lightgray;
    padding: 1.5vh;
    width: 30%;
}

input[type="text"] {
    background-color: $white;
    background-image: url(../../assets/img/icons/person.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input[type="title"] {
    background-color: $white;
    background-image: url(../../assets/img/icons/letters-case.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input[type="password"] {
    background-color: $white;
    background-image: url(../../assets/img/icons/lock.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input[type="email"] {
    background-color: $white;
    background-image: url(../../assets/img/icons/email.svg);
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input[type="date"] {
    background-image: url(../../assets/img/icons/calendar.svg);
    color: $cloud;
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input[type="time"] {
    background-image: url(../../assets/img/icons/clock.svg);
    color: $cloud;
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input[type="time"] {
    background-image: url(../../assets/img/icons/clock.svg);
    color: $cloud;
    background-repeat: no-repeat;
    background-size: 8%;
    background-position: right;
    background-position-x: 95%;
}

input[type="radio"] {
    border: none;
    appearance: none;
}

input:focus {
    background-image: none;
}

input::-moz-placeholder {
    opacity: 1;
    color: $dark-lightgray;
    transition: 0.5s;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

textarea {
    resize: none;
    width: 30%;
    border-radius: 2px;
    border: 1px solid $lightgray;
    margin: 1vh;
    padding: 1vh;
    font-family: 'Source Sans Pro';
    font-size: 14px;
}

textarea::placeholder {
    color: $gray;
}

textarea:focus::placeholder {
    opacity: 0;
}

a {
    color: $gray;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: $blue;
    text-decoration-thickness: 1.5px;
}

a:visited {
    color: $gray;
}

label {
    color: $gray;
    width: 30%;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.button {
    background: $blue;
    border: none;
    color: $white;
    filter: drop-shadow(0 0.2rem 0.25rem $lightgray);
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 4px;
    margin-top: 1vh;
    cursor: pointer;
    transition: background 0.5s;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Source Sans Pro';
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: max-content;
    }
}

.button:visited {
    color: $white;
}

.button:hover {
    background: $darkblue;
}

.button_goback {
    font-size: 20px;
    font-weight: 600;
    text-decoration: 2px $darkblue underline;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* .button_goback:before {
    content: '';
    position: absolute;
    width: 110%;
    height: 2px;
    background: var(--darkblue);
    left:0;
    bottom: 0;
} */

.main_error {
    background: $white;
    font-family: 'Source Sans Pro';
    color: $red;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    animation: rollIn 0.8s;
    animation-fill-mode: forwards;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $lightgray;
    font-weight: 500;
}

.main_success {
    background: $white;
    font-family: 'Source Sans Pro';
    color: $green;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    animation: rollIn 0.8s;
    animation-fill-mode: forwards;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $lightgray;
    font-weight: 500;
}

.graytext {
    color: $gray;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    input {
        select {
            background-color: $white;
            background-image: url(../../img/icons/selector.svg);
            background-repeat: no-repeat;
            background-size: 8%;
            background-position: right;
            background-position-x: 95%;
            border: 1px solid $lightgray;
            appearance: none;
            border-radius: 10px;
            color: $lightgray;
            width: 45%;
            padding: 2vh;
            font-size: 14px;
        }
        input {
            margin-bottom: 1vh;
            font-family: 'Source Sans Pro';
            border-radius: 10px;
            border: 1px solid $lightgray;
            padding: 1.5vh;
            width: 30%;
        }
    }
}

@media (min-width: 1500px) {
    input[type="text"] {
        background-size: 6%;
    }
    input[type="password"] {
        background-size: 6%;
    }
    input[type="email"] {
        background-size: 6%;
    }
}