@import "colors.scss";
#register_main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        width: 50%;
    }
    #register_form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        input {
            width: 55%;
            padding: 2vh;
        }
        input[type=text] {
            background-position: right;
            background-position-x: 89%;
        }
        input[type=checkbox] {
            border: none;
            padding: 0;
            margin: 0;
            width: 0;
        }
        select {
            width: 49%;
            padding: 1.5vh;
            background-size: 16%;
        }
        label {
            font-size: 1.05em;
        }
        &_title {
            font-size: 1.1em;
            width: 55%;
        }
        &_buttons {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: left;
            margin-top: 2vh;
            .button {
                margin-top: 0;
                margin-right: 1vh;
                font-weight: 600;
                img {
                    width: max-content;
                }
            }
            a {
                font-size: 1.1em;
                font-weight: 600;
            }
        }
        #names {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input[type="text"] {
                width: 49%;
                background-size: 16%;
            }
        }
        #container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 55%;
        }
        .rules {
            margin: 0;
            border-radius: 10px;
            font-family: 'Source Sans Pro';
            color: white;
            position: relatvie;
            cursor: pointer;
            width: 40%;
            text-align: center;
            color: $gray;
        }
    }
}

@media (max-width: 767.98px) {
    #register_main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            display: none;
        }
        #register_form {
            margin: 0;
            width: 100%;
            margin-top: 5vh;
            &_title,
            input,
            #container,
            #names,
            #buttons {
                width: 80%;
            }
            &_title {
                font-size: 1.3em;
            }
            input,
            select,
            #container {
                font-size: 1em;
            }
            &_buttons {
                width: 80%;
                font-size: 1.1rem;
                img {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    #register_main {
        #register_from {
            #names {
                input[type=text] {
                    background-size: 13%;
                }
            }
        }
    }
}