@import "colors.scss";
body {
    overflow-y: clip;
}

@keyframes slideIn {
    from {
        left: -80%;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -80%;
    }
}

form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10vh;
    animation: fadeIn 0.5s;
    position: relative;
    .button {
        margin-top: 2vh;
        right: 0;
    }
    input {
        width: 35%;
        margin-top: 0;
        margin-left: 0;
    }
    h2 {
        margin-top: 0;
        padding-top: 0;
    }
}

#settings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings_sidebar {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#settings_sidebar_menu {
    ul {
        background: $blue;
        list-style-type: none;
        padding: 3vh;
        margin-top: 10vh;
        top: 0;
        border-radius: 10px;
        filter: drop-shadow(0 0.2rem 0.25rem $lightgray);
    }
    .button {
        background: $blue;
        width: fit-content;
        filter: none;
        font-weight: 600;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .active {
        background: white;
        color: $blue;
        svg {
            stroke: $blue;
        }
    }
}

#settings_details {
    width: 70%;
    height: 100%;
}

#settings_privacy {
    width: 70%;
    height: 100%;
    display: none;
    align-items: flex-start;
    justify-content: center;
}

#settings_pictures {
    width: 70%;
    height: 100%;
    display: none;
    align-items: flex-start;
    justify-content: center;
}

#settings_hamburger {
    position: absolute;
    display: none;
    background: $blue;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    z-index: 1;
    filter: drop-shadow(0 0.2rem 0.25rem $lightgray);
    // animation: slideOut 0.4s;
    ul {
        background: $blue;
        list-style-type: none;
        padding: 3vh;
        margin-top: 10vh;
        top: 0;
        border-radius: 10px;
    }
    .button {
        background: $blue;
        width: fit-content;
        filter: none;
        font-weight: 600;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .active {
        background: white;
        color: $blue;
        svg {
            stroke: $blue;
        }
    }
    #settings_hamburger_close_button {
        float: right;
        padding: 1.5vh;
    }
}

#settings_hamburger_open_button {
    padding: 1.5vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

@media (max-width: 767.98px) {
    #settings_sidebar {
        display: none;
    }
    #settings_hamburger {
        display: block;
    }
    #settings_hamburger_open_button {
        display: block;
    }

    form {
        input {
            width: 100%;
            font-size: 1em;
        }

        label {
            width: 100%;
        }
    }
}